body {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gradient {
    background: linear-gradient(90deg, #059EDA, #8EC483);
    color: white;
}

#Maki-logo {
    height: 40px;
    width: auto;
}

#header-monkey {
    height: 70px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



